.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.create__title {
  margin: 20px;
}
.create__form {
  width: 600px;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
