* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "VT323", monospace;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.192);
}

.nav__logo {
  font-size: 3rem;
  color: rgb(112, 112, 112);
  text-decoration: none;
}

.nav__main {
  flex-grow: 1;
  font-size: 1.8rem;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(165, 164, 164);
}
.nav__link:hover {
  color: black;
}
.active {
  font-weight: bolder;
  color: green;
}
