.main__banner {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__text {
  min-height: 25vh;
}

.main__heading {
  font-family: monospace;
  font-size: 4rem;
}
.text__type {
  font-size: 3rem;
}
.login__link {
  padding: 1rem 2rem;
  align-self: center;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid var(--hiLighted-color);
  border-radius: 5px;
  color: var(--hiLighted-color);
  background-color: white;
  cursor: pointer;
}
.login__link:hover {
  color: white;
  background-color: var(--hiLighted-color);
}
